# cp .env.example .env

# Only needed for local development (``npm run dev`` command) where there is no proxy
#for production we will use a reverse proxy to forwared requests from the FE.
VITE_API_URL=http://localhost:4000/graphql
