# cp .env.example .env
# docker-compose up --build

# This is just required for the npm run dev command, not needed when building the docker image at the moment.
VITE_API_URL=http://localhost:4000/graphql